<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>
    <!--
	<main>
		<div class="contenedor_est" id="contenedor_factura">
			<h2>Factura</h2>
			
			<table>
			<tr>
				<th>ID:</th>
				<td>{{factura.id_factura}}</td>
			</tr>
			<tr>
				<th>Fecha:</th>
				<td>{{factura.fecha_venta}}}</td>
			</tr>
			<tr>
				<th>Producto</th>
				<td>{{producto.name}}</td>
			</tr>
			<tr>
				<th>Cantidad</th>
				<td>{{  ventas.amount_sold  }}</td>
			</tr>
			<tr>
				<th>Descuento</th>
				<td>{{ventas.discount}}</td>
			</tr>
			<tr>
				<th>Precio</th>
				<td>{{producto.price_sale}}</td>
			</tr>
			<tr>
				<th>Subtotal:</th>
				<td>{{  factura.precio_venta  }}</td>
			</tr>
			<tr>
				<th>Iva:</th>
				<td>{{factura.taxes}}</td>
			</tr>
			<tr>
				<th>Total:</th>
				<td>{{factura.total}}</td>
			</tr>
			</table>
			
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 
	-->

	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
</body>
</html>





