<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>
	
	
	<main>
		<div class="contenedor_est" id="contenedor_gastos">
			<h2>Gastos</h2>
			
			 <table>
			<tr>
				<th>Compra de Inventario</th>
				<th>Almacenamiento</th>
				<th>Servicios</th>
				<th>Administracion</th>
				<th>Otros</th>
				<th>Fecha</th>
			</tr>
				{%  for dato in gastos:  %}
			<tr>
				<td>{{  dato.price_buy  }}</td>
				<td>{{dato.storagecost}}</td>
				<td>{{dato.servicecost}}</td>
				<td>{{dato.admincost}}</td>
				<td>{{dato.others}}</td>
				<td>{{dato.datetime}}</td>
			</tr>
				{%  endfor  %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Total:</td>
				<td>{{total}}</td>
			</tr>
			</table>
			
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 



	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
       
</body>
</html>