<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Home</title>
	
</head>
<body>
 
    
	<header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>
	
	<main>
		<div class="contenedor_Home">
			<h2>Iniciar sesión</h2>

			<div>
				<a href="/resproducto">Registrar un producto</a>
				<a href="/inventario">Ir a inventario</a>
				<a href="/registrarGastos">Registrar gastos</a>
				<a href="/gastos">Ver mis gastos</a>
				<a href="/ventas">Registrar ventas</a>
				<a href="/facturas">Ver facturas</a>
				<a href="/login">Salir</a>
			</div>
		</div>		
	</main>
	
	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
    
	
</body>
</html>