<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>

	<main>
		<div class="contenedor_est" id="contenedor_homeadmin">
			<h2>Usuarios Registrados</h2>
			
			 <table>
			<tr>
				<th>Id</th>
                <th>Correo</th>
                <th>Contraseña</th>
			</tr>
               {%  for dato in datos:  %}
			<tr>
				<td>{{dato.id_user}}</td>
               <td>{{dato.email}}</td>
				<td>{{dato.password}}</td>
                
			</tr>
				{%  endfor  %}
			</table>
			
			<h3>Eliminacion de usuarios</h3>
			
			<form class="form_est" id="form_homeadmin" action="{{url_for('del_user')}}" method="post">
                <label for="id">Ingrese el id para eliminar:</label>
                <input type="text" name="id" id="id">
				<button>Eliminar</button>
			</form>
			
			<div class="Links">
				<a href="/login">Regresar</a>
			</div>
		</div>
	</main> 

	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
       
</body>
</html>