<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>
	
	
	
	<main>
		<div class="contenedor_est" id="contenedor_inventario">
			<h2>Inventario</h2>
			
			 <table>
			<tr>
				<td>Id</td>
				<td>Nombre</td>
				<td>Descripción</td>
				<td>Precio de compra</td>
				<td>Categoría</td>
				<td>Lote</td>
				<td>Precio de venta</td>
				<td>Cantidad</td>
			</tr>
				{%  for dato in datos:  %}
			<tr>
				<td>{{dato.id}}</td>
				<td>{{  dato.name  }}</td>
				<td>{{dato.description}}</td>
				<td>{{dato.price_buying}}</td>
				<td>{{dato.category}}</td>
				<td>{{dato.lote}}</td>
				<td>{{dato.price_sale}}</td>
				<td>{{dato.amount}}</td>
			</tr>
				{%  endfor  %}
			</table>
			
			<h3>Digite el id correspondiente para eliminar</h3>
			
			<form class="form_est" id="form_homeadmin" action="{{url_for('del_product')}}" method="post">
                <label for="id_product">Id del producto:</label>
                <input type="number" name="id_product" id="id_product">
				<button>Eliminar</button>
			</form>
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 
	
	
	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
</body>
</html>