<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./styles.css">
    <title>Login</title>
	
</head>
<body>


    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>
	<main>
		<div class="contenedor_Inicio">
			<h2>Iniciar sesión</h2>
			
			<form class="form_inicio" action="{{url_for('verify_user')}}" method="POST">
				<label  for="email">Correo electrónico:</label>
				<input type="email" name="email" id="email">
				<label  for="password">Contraseña:</label>
				<input type="password" name="password" id="password">
				<button>Ingresar</button>
			</form>
			
			<div class="longInLinks">
				<div>
					<a href="/forgetpass">¿Olvido su contraseña?</a>
					<a href="/signup">Regístrese</a>
				</div>
				<a href="/admin">Modo administrador</a>
			</div>
		</div>
	</main>
	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
    
    

</body>
</html>