<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>

	<main>
		<div class="contenedor_est" id="contenedor_gasto">
			<h2>Registro de gastos</h2>
			<form class="form_est" action="{{url_for('save_spents')}}"method="post">
				<label  for="storagecost">Costo de almacenamiento:</label>
				<input type="number" name="storagecost" id="storagecost">
				<label  for="servicecost">Costo de servicio:</label>
				<input type="number" name="servicecost" id="servicecost">
				
				<label  for="admincost">Costo administrativo:</label>
				<input type="number" name="admincost" id="admincost">
				
				<label  for="others">Otros costos:</label>
				<input type="number" name="others" id="others">
				
				<button>Registrar gasto</button>
			</form>
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 

	
	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
</body>
</html>