<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>



	<main>
		<div class="contenedor_est" id="contenedor_producto">
			<h2>Registro de productos</h2>
			<form class="form_est" action="{{url_for('create_product')}}"method="post">
				<div>
					<fieldset>
						<label for="name">Producto:</label>
						<input type="text" name="name">
						<label for="description">Descripcion:</label>
						<input type="text" name="description">
						<label for="lote">Lote:</label>
						<input type="date" name="lote" placeholder="Lote">
						<label for="category">Categoria:</label>
						<select name="category">
							<option value="Abarrotes">Abarrotes</option>
							<option value="Ferreteria">Ferreteria</option>
							<option value="Miscelanea">Miscelanea</option>
							<option value="Moda">Moda-ropa</option>
							<option value="Farmacia">Farmacia</option>    
							<option value="Carniceria">Carniceria</option>             
						</select>
					</fieldset>
					<fieldset>
						<label for="price_buying">Precio de adquisición:</label>
						<input type="number" name="price_buying">
						<label for="price_sale">Precio de venta:</label>
						<input type="number" name="price_sale">
						<label for="amount">Cantidad</label>
						<input type="number" name="amount">
					</fieldset>
				</div>
				
				
				<button >Registrar producto</button>
			</form>
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 

	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>



</body>
</html>