<!DOCTYPE htm<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
    <title>Login</title>
	
</head>
<body>

    <header> 
		<h1 class="titulo1">LA TIENDA</h1>
	</header>
	<hr>

	<main>
		<div class="contenedor_est" id="contenedor_ventas">
			<h2>Ventas</h2>
			<form class="form_est" action="{{url_for('registrar_venta')}}"method="post">
				<label for="producVent">Productos:</label>
				<select name="producVent">
					{%  for dato in datos:  %}
					<option value={{dato.id}}>{{dato.name}}</option>
					{%  endfor  %}
				</select>
				<label for="descuento">Descuento:</label>
				<input type="number" name="descuento" id="descuento" placeholder="Porcentaje 0-100" min="0" max="100" >
	            <label for="cantidad">Cantidad:</label>
				<input type="number" name="cantidad" id="cantidad">
				<button>Registrar venta</button>
			</form>
			
			<div class="Links">
				<a href="/home">Regresar</a>
			</div>
		</div>
	</main> 	


	<footer>
		<p>Fondo de pantalla tomado de <a href="https://www.freepik.es/vectores/elementos-diseno">https://www.freepik.es/</a></p>
	</footer>
</body>
</html>